@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
   @apply w-1.5 h-1.5;
}

*::-webkit-scrollbar-track {
   @apply bg-slate-300 rounded-[3px]
}

*::-webkit-scrollbar-thumb {
   @apply bg-gradient-to-b from-red-600 to-amber-600 rounded-[3px]
}

* {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
   @apply antialiased select-none !important;
   @apply font-albert
}

html,
body {
   @apply bg-slate-800;
}

.slide {
   @apply w-[1024px] h-[768px] flex flex-col gap-6 bg-white bg-fondo bg-cover bg-center pb-6 z-0 absolute;
}

header hgroup {
   @apply w-full flex justify-end items-start relative;
}
header hgroup span {
   @apply flex flex-wrap items-center gap-x-4 gap-y-2 w-[255px] absolute left-0 pt-4
}
header hgroup button {
   @apply h-fit
}
header hgroup .titulo {
   @apply w-fit flex flex-col items-center justify-center gap-2 px-16 bg-gradient-to-r from-red-600 to-amber-600 rounded-b-3xl self-end h-[87px] justify-self-end
}
header hgroup div h2 {
   @apply font-extrabold text-center text-white text-3xl
}

main {
   @apply flex-grow mx-16 flex flex-wrap justify-around content-around;
}

.home-btn {
   @apply bg-gradient-to-b from-white to-button-bg1 p-1 border border-gray-400 shadow-md shadow-black/30 rounded-full w-fit;
}
.home-btn div {
   @apply bg-gradient-to-b from-button-bg1 to-white flex flex-row items-center justify-center gap-1 w-9 h-9 p-1 rounded-full;
}
.home-btn div svg {
   @apply text-button-text;
}

.ref-btn {
   @apply bg-gradient-to-b from-white to-button-bg1 p-1 border border-gray-400 shadow-md shadow-black/30 rounded-full w-fit mx-1;
}
.ref-btn div {
   @apply bg-gradient-to-b from-button-bg1 to-white flex flex-row items-center justify-center gap-1 w-7 h-7 p-1 rounded-full;
}
.ref-btn div h4 {
   @apply text-button-text font-bold text-xs;
}

.pop {
   @apply flex flex-col-reverse w-fit drop-shadow-md
}
.pop h4 {
   @apply font-extrabold text-button-text relative
}
.pop .pop-content {
   @apply w-full bg-white/80 px-6 py-4 rounded-xl text-text-500 text-sm  relative
}

.pop .pop-content .contents {
   @apply h-[550px] overflow-auto block pr-1 z-10 rounded-l-lg
}

.pop .pop-content .contents img {
   @apply mb-2 w-[750px]
}
.pop .pop-content .contents img:last-child {
   @apply mb-0
}

.pop .pop-content::before {
   content: '';
   @apply absolute w-[750px] h-9 z-20 bg-gradient-to-b from-white/80 to-white/0 rounded-tl-lg
}
.pop .pop-content::after {
   content: '';
   @apply absolute bottom-4 w-[750px] h-9 z-20 bg-gradient-to-b from-white/0 to-white/80 rounded-bl-lg
}

.pop .pop-label {
   @apply w-fit ml-8 rounded-t-2xl bg-gradient-to-b from-button-bg1 to-white/80 p-1
}
.pop .pop-label div {
   @apply flex justify-center items-center bg-gradient-to-b from-button-bg0/20 to-white/0 from-10% px-6 pt-2 rounded-t-2xl
}
.pop .pop-label div h4 {
   @apply text-orange-400 font-extrabold text-lg
}
.pop .pop-label div button {
   @apply mx-3
}
