@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
   @apply w-1.5 h-1.5;
}

*::-webkit-scrollbar-track {
   @apply bg-slate-300
}

*::-webkit-scrollbar-thumb {
   @apply bg-green-400;
}

html,
body {
   @apply h-full w-full bg-slate-800;
}

* {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
   @apply select-none antialiased !important;
   @apply font-albert
}

input {
   @apply py-1 text-sm text-right !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type=number] {
   -moz-appearance: textfield;
}

.slide {
   @apply w-[1024px] min-h-[768px] bg-white bg-fondo bg-cover bg-center flex flex-col gap-4
}

header hgroup {
   @apply w-full h-[80px] flex justify-between items-center
}
header hgroup h2 {
   @apply w-fit h-full flex items-center font-extrabold text-center text-white text-3xl leading-none px-16 py-2 bg-gradient-to-r from-red-600 to-amber-600 rounded-b-3xl
}

.tratamiento,
.complicaciones {
   @apply drop-shadow-md w-full
}
.tratamiento .form,
.complicaciones .form {
   @apply bg-white/80 px-6 py-4 rounded-xl w-full text-text-500 text-sm
}
.tratamiento .form {
   @apply pr-4
}
.tratamiento .form table thead tr th,
.complicaciones .form table thead tr th {
   @apply leading-none py-2
}
.tratamiento .form table tbody tr td,
.complicaciones .form table tbody tr td {
   @apply leading-none py-1 px-1
}
.tratamiento .label,
.complicaciones .label {
   @apply w-fit ml-8 rounded-t-2xl bg-gradient-to-b from-button-bg1 to-white/80 p-1
}
.tratamiento .label h4,
.complicaciones .label h4 {
   @apply text-orange-400 font-extrabold text-lg bg-gradient-to-b from-button-bg0/20 to-white/0 from-10% px-6 py-1 rounded-t-2xl
}


.btn-caso-ref {
   @apply text-button-text bg-gradient-to-t from-button-bg2 to-button-bg4 border-t-[2px] border-button-bg2 p-1 shadow-md rounded-full
}
.btn-caso-ref div {
   @apply text-button-text px-2 drop-shadow-button
}
.btn-caso-ref div svg {
   @apply mr-2 -ml-1
}
.btn-caso-ref div h4 {
   @apply font-semibold text-sm leading-tight
}

.bg-button1 {
   @apply text-button-text bg-gradient-to-b from-white to-button-bg1 p-1 shadow-md shadow-black/40 rounded-lg
}
.bg-button1 div {
   @apply text-button-text pl-7 pr-5 py-1 bg-gradient-to-b from-button-bg1 to-white rounded-md
}
.bg-button1 div svg {
   @apply -ml-4 mr-2
}

.backaground-btn-orange {
   @apply bg-gradient-to-tl from-[#F49306] from-20% to-[#F6C37E]
}
.backaground-btn-orange div {
   @apply bg-gradient-to-b from-[#FF9900] from-40% to-white/60
}
.button-orange-corner-md {
   @apply p-[3px] border border-[#F8971D] shadow-md shadow-black/30 rounded-lg
}

.button-orange-corner-md div {
   @apply px-5 py-1 rounded-md
}
.button-orange-corner-md div svg {
   @apply text-white
}
.button-orange-corner-md div h4 {
   @apply text-white font-bold text-lg mr-2
}

.input-insert {
   @apply relative w-full
}
.input-insert input {
   @apply border-slate-400 focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 rounded-md shadow-sm shadow-black/40 block w-full
}
.input-insert input.porcentaje {
   @apply pr-8
}
.input-insert input.money {
   @apply pl-8
}
.input-insert .icon-porcentaje {
   @apply absolute text-text-500 right-[10px] -mt-[24px]
}
.input-insert .icon-money {
   @apply absolute text-text-500 left-[10px] -mt-[24px]
}


.input-calc {
   @apply relative w-full
}
.input-calc input {
   @apply border-slate-400 bg-zinc-300 rounded-md block w-full
}
.input-calc input.porcentaje {
   @apply pr-8
}
.input-calc input.money {
   @apply pl-8
}
.input-calc .icon-porcentaje {
   @apply absolute text-text-500 right-[10px] -mt-[24px]
}
.input-calc .icon-money {
   @apply absolute text-text-500 left-[10px] -mt-[24px]
}


.input-edit {
   @apply relative w-full
}
.input-edit input {
   @apply border-slate-400 bg-introduccion-100 focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 rounded-md shadow-sm shadow-black/40 block w-full
}
.input-edit input.porcentaje {
   @apply pr-8
}
.input-edit input.money {
   @apply pl-8
}
.input-edit .icon-porcentaje {
   @apply absolute text-text-500 right-[10px] -mt-[24px]
}
.input-edit .icon-money {
   @apply absolute text-text-500 left-[10px] -mt-[24px]
}

.pop-conten {
   @apply absolute flex flex-col justify-center items-center top-0 left-0 w-full h-full bg-pop-background/85 p-4
}
.pop {
   @apply flex flex-col-reverse  w-fit drop-shadow-md
}
.pop .pop-form {
   @apply bg-white/80 px-6 py-4 rounded-xl w-full text-text-500 text-sm
}

.pop .pop-form table thead tr th {
   @apply leading-none py-2
}
.pop .pop-form table tbody tr td {
   @apply leading-none py-1 px-1
}
.pop .pop-form table tbody tr td:first-child {
   @apply mr-2
}

.pop .pop-label {
   @apply w-fit ml-8 rounded-t-2xl bg-gradient-to-b from-button-bg1 to-white/80 p-1
}
.pop .pop-label div {
   @apply flex bg-gradient-to-b from-button-bg0/20 to-white/0 from-10% pl-6 py-1 rounded-t-2xl
}
.pop .pop-label div h4 {
   @apply text-orange-400 font-extrabold text-lg
}
.pop .pop-label div button {
   @apply mx-3
}

.content-folder {
   @apply absolute w-[1024px] h-[768px] overflow-hidden z-10
}
.fade-in {
   animation: animation-fade-in 600ms both;
}
@keyframes animation-fade-in {
   0% {
      background: rgb(221, 215, 209, 0);
   }
   100% {
      background: rgb(221, 215, 209, 0.85);
   }
}
.fade-out {
   animation: animation-fade-out 600ms both;
}
@keyframes animation-fade-out {
   0% {
         background: rgb(221, 215, 209, 0.85);
      }
   100% {
      background: rgb(221, 215, 209, 0);
   }
}

.folder {
   transition-property: margin-top;
   transition-duration: 600ms;
   transition-timing-function: ease-in-out;
   @apply px-16 w-full drop-shadow-md absolute;
}

.folder header {
   @apply w-full h-3 border-2 border-b-0 rounded-t-lg
}
.folder header button {
   @apply absolute w-fit border-2 border-b-0 pl-8 pr-4 py-2 rounded-t-lg -mt-[38px] flex justify-center items-center
}
.folder header button h4 {
   @apply font-extrabold text-base text-black/50 drop-shadow-folder-buttton-text leading-none
}
.folder .icon {
   @apply shadow-md rounded-full bg-white h-fit size-5 ml-2
}
.folder.close .icon {
   @apply text-green-600
}
.folder.open .icon {
   @apply text-red-600
}

.folder.close header button div svg:first-child {
   @apply hidden;
   transition-property: color;
   transition-duration: 600ms;
   transition-timing-function: ease-in-out;
}
.folder.open header button div svg:last-child {
   @apply hidden;
   transition-property: backgroud;
   transition-duration: 600ms;
   transition-timing-function: ease-in-out;
}

.folder-contents {
   @apply bg-white/80 h-[620px] px-6 py-4 border-2 border-t-0 rounded-b-xl w-full text-text-500 text-sm
}

#poblacion {
   @apply  z-40;

}
#pocedimientos {
   @apply  z-30;
}
#tecnologias {
   @apply  z-20;
}
#cohorte {
   @apply  z-10;
}

#poblacion header,
#poblacion header button {
   @apply bg-lime-600 border-lime-800
}
#poblacion .folder-contents {
   @apply border-lime-700
}

#pocedimientos header,
#pocedimientos header button {
   @apply bg-pink-600 border-pink-800
}
#pocedimientos .folder-contents {
   @apply border-pink-600
}

#tecnologias header,
#tecnologias header button {
   @apply bg-amber-500 border-amber-600
}
#tecnologias .folder-contents {
   @apply border-amber-500
}

#cohorte header,
#cohorte header button {
   @apply bg-sky-600 border-sky-800
}
#cohorte .folder-contents {
   @apply border-sky-600
}

.folder.open {
   @apply mt-14;
}

#poblacion.close {
   @apply mt-[762px] z-40;
}
#pocedimientos.close {
   @apply mt-[756px] z-30;
}
#tecnologias.close {
   @apply mt-[750px] z-20;
}
#cohorte.close {
   @apply mt-[744px] z-10;
}

#poblacion header button {
   @apply ml-[91px]
}
#pocedimientos header button {
   @apply ml-[259px]
}
#tecnologias header button {
   @apply ml-[474px]
}
#cohorte header button {
   @apply ml-[660px]
}