@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
   @apply w-1.5 h-1.5;
}
*::-webkit-scrollbar-track {
   @apply bg-slate-300
}
*::-webkit-scrollbar-thumb {
   @apply bg-green-400;
}
* {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
   @apply select-none antialiased !important;
   @apply font-albert
}

html,
body {
   @apply bg-slate-800;
}


input {
   @apply py-1 text-sm text-right !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type=number] {
   -moz-appearance: textfield;
}

.slide {
   @apply w-[1024px] h-[768px] flex flex-col bg-white bg-fondo bg-cover bg-center pb-6 relative
}

header hgroup {
   @apply w-full h-fit flex justify-between items-center
}
header hgroup span {
   @apply flex gap-4
}

header hgroup div {
   @apply w-fit flex flex-col items-center gap-2 px-16 py-2 bg-gradient-to-r from-red-600 to-amber-600 rounded-b-3xl self-end
}
header hgroup div h2 {
   @apply font-extrabold text-center text-white text-[22px] leading-none;
}
header hgroup div h3 {
   @apply font-thin text-white text-base leading-none;
}


main {
   @apply flex-grow mx-40 grid grid-flow-row auto-rows-max justify-items-center gap-4 content-center;
}

.HTP-ask {
   @apply flex flex-col items-center justify-center gap-2 mt-4;
}
.HTP-ask h3 {
   @apply font-extrabold text-text-500 text-2xl leading-none;
}
.HTP-ask p {
   @apply text-base text-text-500 leading-none;
}
.HTP-ask div {
   @apply flex flex-row justify-center items-center gap-4;
}

.background-btn-blue {
   @apply bg-gradient-to-tl from-[#005D73] from-20% to-[#009CC1]
}
.background-btn-blue div {
   @apply bg-gradient-to-b from-[#00748F] from-40% to-white/25
}

.background-btn-gray {
   @apply bg-gradient-to-b from-white to-button-bg1;
}
.background-btn-gray div {
   @apply bg-gradient-to-b from-button-bg1 to-white;
}

.background-btn-orange {
   @apply bg-gradient-to-tl from-[#F49306] from-20% to-[#F6C37E]
}
.background-btn-orange div {
   @apply bg-gradient-to-b from-[#FF9900] from-40% to-white/60
}


.home-btn {
   @apply bg-gradient-to-b from-white to-button-bg1 p-1 border border-gray-400 shadow-md shadow-black/30 rounded-full w-fit;
}
.home-btn div {
   @apply bg-gradient-to-b from-button-bg1 to-white;
}
.home-btn div {
   @apply flex flex-row items-center justify-center gap-1 w-9 h-9 p-1 rounded-full;
}
.home-btn div svg {
   @apply text-button-text;
}

.button-gray-corner-md {
   @apply p-1 border border-gray-400 shadow-md shadow-black/30 rounded-lg w-fit;
}
.button-gray-corner-md div {
   @apply flex flex-row items-center justify-center gap-1 px-5 py-1 rounded-md;
}
.button-gray-corner-md div svg {
   @apply text-button-text;
}
.button-gray-corner-md div h4 {
   @apply text-button-text font-bold text-lg;
}

.button-gray-corner-full {
   @apply p-[3px] border border-gray-400 shadow-md shadow-black/30 rounded-full w-fit transition-all
}
.button-gray-corner-full div {
   @apply flex flex-row items-center justify-center gap-1 px-16 py-0.5 rounded-full
}
.button-gray-corner-full div svg {
   @apply text-button-text
}
.button-gray-corner-full div h4 {
   @apply text-button-text font-bold text-base
}

.button-orange-corner-md {
   @apply p-[3px] border border-[#F8971D] shadow-md shadow-black/30 rounded-lg w-fit
}
.button-orange-corner-md div {
   @apply flex flex-row-reverse items-center justify-center gap-1 px-5 py-1 rounded-md !important;
}
.button-orange-corner-md div svg {
   @apply text-white
}
.button-orange-corner-md div h4 {
   @apply text-white font-bold text-lg
}

.button-orange-corner-full {
   @apply p-[3px] border border-[#F8971D] shadow-md shadow-black/30 rounded-full w-fit
}
.button-orange-corner-full div {
   @apply px-16 py-0.5 rounded-full
}
.button-orange-corner-full div svg {
   @apply text-white
}
.button-orange-corner-full div h4 {
   @apply text-white font-bold text-base
}

.label-blue {
   @apply mx-auto flex flex-col justify-center w-fit p-[3px] border border-b-0 border-[#004555] shadow-md shadow-black/30 rounded-t-lg
}
.label-blue div {
   @apply rounded-md px-4 py-1
}
.label-blue div h4 {
   @apply text-center text-white font-bold text-lg
}

.input-poblacion {
   @apply relative flex w-full h-9
}

.input-poblacion input {
   @apply form-input w-full block rounded-r-md border border-l-0 text-text-500 shadow-sm shadow-black/40 border-slate-400 focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50
}
.input-poblacion label {
   @apply flex flex-row items-center justify-center rounded-l-full p-[3px] shadow-sm shadow-black/40 border border-[#F8971D] bg-white
}
.input-poblacion label div {
   @apply rounded-l-full h-full
}
.input-poblacion label i {
   @apply pl-4
}
.input-poblacion label h4 {
   @apply pl-2 pr-4 font-bold text-base
}
.input-poblacion label i,
.input-poblacion label h4 {
   @apply text-black/35 drop-shadow-button
}
.input-poblacion .error {
   @apply absolute mt-9 ml-4 text-red-500 leading-none pt-1 text-xs flex-none italic;
}
.content-inputs .error {
   @apply ml-4 text-red-500 leading-none pt-1 text-xs flex-none italic;
}
.grupos-error {
   @apply col-span-2 text-center ml-0 !important
}

.content-inputs {
   @apply w-full flex-col justify-center items-center gap-6;
}
.content-inputs .htp-edit,
.content-inputs .htp-estudy   {
   @apply grid-cols-2 gap-x-6 gap-y-1 content-center w-full;
}
.content-inputs .htp-edit .input,
.content-inputs .htp-estudy .input {
   @apply flex flex-col
}

.input-insert,
.input-calc {
   @apply w-full relative;
}
.input-insert input {
   @apply w-full text-text-500 border-slate-400 focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 rounded-md shadow-sm shadow-black/40;
}
.input-insert input.porcentaje,
.input-calc input.porcentaje {
   @apply pr-8;
}
.input-insert .icon-porcentaje,
.input-calc .icon-porcentaje {
   @apply absolute text-text-500 right-[10px] -mt-[24px]
}

.input-calc input {
   @apply w-full text-text-500 border-slate-400 bg-zinc-300 rounded-md block
}

footer {
   @apply w-full px-44 text-center flex flex-col items-center gap-4;
}
footer article {
   @apply px-9;
}
footer article p {
   @apply font-helvet font-light leading-none text-center text-xs mt-2
}

.pop-conten {
   @apply w-[1024px] h-[768px] absolute bg-pop-background/85 bg-center flex-col gap-4 justify-center items-center py-6 p-4;
}
.pop {
   @apply flex flex-col-reverse w-fit drop-shadow-md
}
.pop h4 {
   @apply font-extrabold text-button-text
}
.pop .pop-form {
   @apply bg-white/80 px-6 py-4 rounded-xl w-full text-text-500 text-sm
}
.pop .pop-form table thead tr th {
   @apply leading-none py-2
}
.pop .pop-form table tbody tr td {
   @apply leading-none py-1 px-1
}
.pop .pop-form table tbody tr td:first-child {
   @apply mr-2
}
.pop .pop-label {
   @apply w-fit ml-8 rounded-t-2xl bg-gradient-to-b from-button-bg1 to-white/80 p-1
}
.pop .pop-label div {
   @apply flex justify-center items-center bg-gradient-to-b from-button-bg0/20 to-white/0 from-10% pl-6 py-1 rounded-t-2xl
}
.pop .pop-label div h4 {
   @apply text-orange-400 font-extrabold text-lg
}
.pop .pop-label div button {
   @apply mx-3
}
.pop-animate-up {
   @apply animate-fade-in animate-duration-slow
}
.pop-animate-down {
   @apply animate-fade-out animate-duration-slow
}

.alert-conten {
   @apply w-[1024px] h-[768px] absolute bg-pop-background/85 bg-center flex flex-col gap-4 justify-center items-center z-[60] top-0 left-0;
}
.alert-conten .alert {
   @apply flex flex-col-reverse w-fit drop-shadow-md
}
.alert-conten .alert .alert-contain {
   @apply max-w-lg inline-block align-bottom rounded-xl text-left overflow-hidden shadow-xl
}
.alert-conten .alert .alert-contain .alert-body {
   @apply bg-white flex-col items-start px-4 pt-5 pb-4
}
.alert-conten .alert .alert-contain .alert-body .header-icon {
   @apply mx-auto flex-shrink-0 flex items-center justify-center w-fit p-3 rounded-full shadow-sm;
}
.alert-body.info .header-icon {
   @apply bg-sky-100 text-sky-500
}
.alert-body.warning .header-icon {
   @apply bg-yellow-100 text-yellow-500
}
.alert-body.danger .header-icon {
   @apply bg-red-100 text-red-500
}
.alert-body.info .header-conten h3 {
   @apply text-sky-500
}
.alert-body.warning .header-conten h3 {
   @apply text-yellow-500
}
.alert-body.danger .header-conten h3 {
   @apply text-red-500
}
.alert-conten .alert .alert-contain .alert-body .header-title {
   @apply mt-3 ml-4 text-center;
}
.alert-conten .alert .alert-contain .alert-body .header-conten {
   @apply mt-3 ml-4 text-center;
}
.alert-conten .alert .alert-contain .alert-body .header-conten h3 {
   @apply text-lg leading-6 font-bold text-center
}
.alert-conten .alert .alert-contain .alert-body .header-conten article {
   @apply mt-2
}
.alert-conten .alert .alert-contain .alert-body .header-conten article p {
   @apply text-sm text-text-500
}
.alert-conten .alert .alert-contain .alert-body .header-conten article p span {
   @apply font-bold
}
.alert-conten .alert .alert-contain .alert-footer {
   @apply bg-slate-100 px-6 py-3 flex flex-row-reverse gap-4
}
.alert-animate-in {
   @apply animate-fade-in animate-duration-slow
}
.alert-animate-out {
   @apply animate-fade-out animate-duration-slow
}
.alert-conten-animate-in {
   @apply animate-fade-in-up animate-delay-200 animate-duration-slow
}
.alert-conten-animate-out {
   @apply animate-fade-out-down animate-delay-200 animate-duration-slow
}