@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.delay-1 {
   animation-delay: 900ms
}

.delay-2 {
   animation-delay: 1100ms
}

.delay-3 {
   animation-delay: 1300ms
}

.delay-4 {
   animation-delay: 1500ms
}

.delay-5 {
   animation-delay: 1700ms
}


*::-webkit-scrollbar {
   @apply w-1.5 h-1.5;
}

*::-webkit-scrollbar-track {
   @apply bg-slate-300
}

*::-webkit-scrollbar-thumb {
   @apply bg-green-400;
}

html,
body {
   @apply bg-slate-800;
}

* {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
   @apply select-none antialiased font-albert !important;
}

.slide{
   @apply w-[1024px] h-[768px] bg-white bg-fondo bg-cover bg-center py-6 flex flex-col gap-4
}

header hgroup {
   @apply w-full h-[88px] flex flex-col justify-center items-center px-16 py-2 text-center bg-gradient-to-r from-red-600 to-amber-600
}

.btn-enlaces {
   @apply h-full flex;
}
.btn-enlaces div {
   @apply h-full w-[1px] bg-slate-800/30 shadow-links;
}
.btn-enlaces button {
   @apply grid content-center justify-center my-4 w-full shadow-sm shadow-black/40 px-3 rounded-r-full;
}
.btn-enlaces button h5 {
   @apply drop-shadow-button-text text-white font-bold leading-none

}

.bg-button1 {
   @apply text-button-text bg-gradient-to-b from-white to-button-bg1 p-1 shadow-md shadow-black/40 rounded-lg
}
.bg-button1 div {
   @apply text-button-text pl-7 pr-5 py-1 bg-gradient-to-b from-button-bg1 to-white rounded-md
}
.bg-button1 div i {
   @apply -ml-4 mr-2
}