@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
   @apply w-1.5 h-1.5;
}

*::-webkit-scrollbar-track {
   @apply bg-slate-300
}

*::-webkit-scrollbar-thumb {
   @apply bg-green-400;
}

html,
body {
   @apply bg-slate-800;
}

* {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
   @apply select-none antialiased font-albert !important;
}

ol {
   counter-reset: item;
}

ol li {
   @apply block my-2
}
ol li:last-child {
   @apply block mb-0
}

ol>li {
   display: block;
   counter-increment: item;
}

ol>li:before {
   content: counters(item, ".") " ";
   font-weight: bold;
   margin-right: 0.5em;
}

ol ol>li {
   list-style: none;
   @apply block my-0.5
}

.slide {
   @apply w-[1024px] h-[768px] flex flex-col gap-4 bg-white bg-fondo bg-cover bg-center pb-16 z-0;
}

header hgroup {
   @apply w-full flex justify-end items-start relative;
}
header hgroup span {
   @apply flex flex-wrap items-center gap-x-4 gap-y-2 w-[255px] absolute left-0 pt-4
}
header hgroup button {
   @apply h-fit
}
header hgroup .titulo {
   @apply w-fit flex flex-col items-center justify-center gap-2 px-16 bg-gradient-to-r from-red-600 to-amber-600 rounded-b-3xl self-end h-[87px] justify-self-end
}
header hgroup div h2 {
   @apply font-extrabold text-center text-white text-3xl
}

main {
   @apply flex-grow mx-16 flex flex-wrap justify-around content-around;
}
.title {
   @apply font-extrabold text-2xl leading-none mb-4 text-center bg-clip-text text-transparent bg-gradient-to-r from-red-600 to-amber-600
}
.home-btn {
   @apply bg-gradient-to-b from-white to-button-bg1 p-1 border border-gray-400 shadow-md shadow-black/30 rounded-full w-fit;
}
.home-btn div {
   @apply bg-gradient-to-b from-button-bg1 to-white flex flex-row items-center justify-center gap-1 w-9 h-9 p-1 rounded-full;
}
.home-btn div svg {
   @apply text-button-text;
}

.ref-btn {
   @apply bg-gradient-to-b from-white to-button-bg1 p-1 border border-gray-400 shadow-md shadow-black/30 rounded-full w-fit mx-1;
}
.ref-btn div {
   @apply bg-gradient-to-b from-button-bg1 to-white flex flex-row items-center justify-center gap-1 w-7 h-7 p-1 rounded-full;
}
.ref-btn div h4 {
   @apply text-button-text font-bold text-xs;
}

.factores,
.instrucciones,
.casillas {
   @apply bg-white/70 text-text-500 text-sm px-6 py-4 rounded-lg shadow-md shadow-black/40
}
.factores{
   @apply bg-introduccion-100
}

.instrucciones {
   @apply col-span-6 py-6
}
.casillas {
   @apply col-span-4 py-6
}

input {
   @apply py-1 px-4 pr-8 text-sm text-right !important;
}

.input-insert {
   @apply border-slate-400 focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 rounded-md shadow-sm shadow-black/40 block w-full
}

.input-cal {
   @apply border-slate-400 bg-zinc-300 rounded-md block w-full
}

.input-edit {
   @apply border-slate-400 bg-introduccion-100 focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 rounded-md shadow-sm shadow-black/40 block w-full
}

.bg-button1 {
   @apply text-button-text bg-gradient-to-b from-white to-button-bg1 p-1 shadow-md shadow-black/40 rounded-lg border border-gray-400
}
.bg-button1 div {
   @apply text-button-text pl-7 pr-5 py-1 bg-gradient-to-b from-button-bg1 to-white rounded-md
}
.bg-button1 div i {
   @apply -ml-4 mr-2
}

.bg-button2 {
   @apply text-button-text bg-gradient-to-t from-button-bg2 to-button-bg4 border-t-[3px] border-button-bg2 p-1 shadow-md shadow-black/30 rounded-full
}
.bg-button2 div {
   @apply text-button-text pl-7 pr-5 py-0.5 drop-shadow-button
}
.bg-button2 div i {
   @apply -ml-4 mr-2
}
.bg-button2 div h4{
   @apply font-bold text-sm
}