@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
   @apply w-1.5 h-1.5;
}

*::-webkit-scrollbar-track {
   @apply bg-slate-300
}

*::-webkit-scrollbar-thumb {
   @apply bg-green-400;
}

html,
body {
   @apply bg-slate-800;
}

* {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
   @apply select-none antialiased !important;
   @apply font-albert
}

input {
   @apply py-1 px-4 pr-8 text-sm text-right !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type=number] {
   -moz-appearance: textfield;
}


.slide {
   @apply w-[1024px] h-[768px] bg-white bg-fondo bg-cover bg-center py-6 flex flex-col gap-9
}

header hgroup {
   @apply w-full h-[88px] flex flex-col justify-center items-center px-16 py-2 text-center bg-gradient-to-r from-red-600 to-amber-600
}

.bg-button {
   @apply text-button-text bg-gradient-to-b from-white to-button-bg1 p-1 shadow-md shadow-black/40 rounded-lg
}

.bg-button div {
   @apply text-button-text px-5 py-1 bg-gradient-to-b from-button-bg1 to-white rounded-md
}

.input-poblacion {
   @apply relative flex w-full flex-row-reverse h-9
}
.input-poblacion input {
   @apply form-input w-full block rounded-r-md border border-l-0 text-text-500 shadow-sm shadow-black/40 border-slate-400 focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50
}
.input-poblacion label {
   @apply flex flex-row items-center justify-center rounded-l-full p-[3px] shadow-sm shadow-black/40 border border-[#F8971D] bg-white
}
.input-poblacion label div{
   @apply rounded-l-full h-full
}
.input-poblacion label i{
   @apply text-white pl-4
}

.input-poblacion label h4 {
   @apply pl-2 pr-4 font-bold text-base text-white
}

.backaground-btn-orange {
   @apply bg-gradient-to-tl from-[#F49306] from-20% to-[#F6C37E]
}
.backaground-btn-orange div {
   @apply bg-gradient-to-b from-[#FF9900] from-40% to-white/60
}

.backaground-btn-blue {
   @apply bg-gradient-to-tl from-[#005D73] from-20% to-[#009CC1]
}
.backaground-btn-blue div {
   @apply bg-gradient-to-b from-[#00748F] from-40% to-white/25
}

.button-orange-corner-full {
   @apply  p-[3px] border border-[#F8971D] shadow-md shadow-black/30 rounded-full
}
.button-orange-corner-full div {
   @apply px-16 py-0.5 rounded-full
}
.button-orange-corner-full div h4{
   @apply text-white font-bold text-base
}

.button-orange-corner-md {
   @apply p-[3px] border border-[#F8971D] shadow-md shadow-black/30 rounded-lg
}
.button-orange-corner-md div {
   @apply px-5 py-1 rounded-md
}
.button-orange-corner-md div i {
   @apply text-white
}
.button-orange-corner-md div h4 {
   @apply text-white font-bold text-lg mr-2
}


.label-blue{
   @apply flex flex-col justify-center w-fit p-[3px] border border-b-0 border-[#004555] shadow-md shadow-black/30 rounded-t-lg 
}
.label-blue div {
   @apply rounded-md px-4 py-1
}
.label-blue div h4 {
   @apply text-center text-white font-bold text-lg
}











ol {
   counter-reset: item;
}

ol li {
   @apply block my-2
}
ol li:last-child {
   @apply block mb-0
}

ol>li {
   display: block;
   counter-increment: item;
}

ol>li:before {
   content: counters(item, ".") " ";
   font-weight: bold;
   margin-right: 0.5em;
}

ol ol>li {
   list-style: none;
   @apply block my-0.5
}



.factores,
.instrucciones,
.casillas {
   @apply bg-white/70 text-text-500 text-sm px-6 py-4 rounded-lg shadow-md shadow-black/40
}
.factores{
   @apply bg-introduccion-100
}

.instrucciones {
   @apply col-span-6 py-6
}
.casillas {
   @apply col-span-4 py-6
}



.input-insert {
   @apply border-slate-400 focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 rounded-md shadow-sm shadow-black/40 block w-full
}

.input-cal {
   @apply border-slate-400 bg-zinc-300 rounded-md block w-full
}

.input-edit {
   @apply border-slate-400 bg-introduccion-100 focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 rounded-md shadow-sm shadow-black/40 block w-full
}

.bg-button1 {
   @apply text-button-text bg-gradient-to-b from-white to-button-bg1 p-1 shadow-md shadow-black/40 rounded-lg
}
.bg-button1 div {
   @apply text-button-text pl-7 pr-5 py-1 bg-gradient-to-b from-button-bg1 to-white rounded-md
}
.bg-button1 div i {
   @apply -ml-4 mr-2
}


.bg-button2 div i {
   @apply -ml-4 mr-2
}
.bg-button2 div h4{
   @apply font-bold text-sm
}