@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
   @apply w-1.5 h-1.5;
}

*::-webkit-scrollbar-track {
   @apply bg-slate-300
}

*::-webkit-scrollbar-thumb {
   @apply bg-green-400;
}

html,
body {
   @apply bg-slate-800;
}

* {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
   @apply select-none antialiased font-albert !important;
}

.slide {
   @apply w-[1024px] h-[768px] flex flex-col gap-4 bg-white bg-fondo bg-cover bg-center pb-16 z-0;
}

header hgroup {
   @apply w-full flex justify-end items-start relative;
}
header hgroup span {
   @apply flex flex-wrap items-center gap-x-4 gap-y-2 w-[255px] absolute left-0 pt-4
}
header hgroup button {
   @apply h-fit
}
header hgroup .titulo {
   @apply w-fit flex flex-col items-center justify-center gap-2 px-16 bg-gradient-to-r from-red-600 to-amber-600 rounded-b-3xl self-end h-[87px] justify-self-end
}
header hgroup div h2 {
   @apply font-extrabold text-center text-white text-3xl
}

main {
   @apply flex-grow mx-16 flex flex-wrap justify-around content-around pt-10;
}

.home-btn {
   @apply bg-gradient-to-b from-white to-button-bg1 p-1 border border-gray-400 shadow-md shadow-black/30 rounded-full w-fit;
}
.home-btn div {
   @apply bg-gradient-to-b from-button-bg1 to-white;
}
.home-btn div {
   @apply flex flex-row items-center justify-center gap-1 w-9 h-9 p-1 rounded-full;
}
.home-btn div svg {
   @apply text-button-text;
}

.ref-btn {
   @apply bg-gradient-to-b from-white to-button-bg1 p-1 border border-gray-400 shadow-md shadow-black/30 rounded-full w-fit mx-1;
}
.ref-btn div {
   @apply bg-gradient-to-b from-button-bg1 to-white flex flex-row items-center justify-center gap-1 w-7 h-7 p-1 rounded-full;
}
.ref-btn div h4 {
   @apply text-button-text font-bold text-xs;
}

.estadificaciones,
.consideraciones,
.supuestos {
   @apply bg-white/70 text-text-500 text-sm py-8 px-8 rounded-lg shadow-md shadow-black/40
}
.estadificaciones {
   @apply grid grid-cols-3 gap-3 py-4 px-4 justify-center content-center text-center shadow-sm shadow-black/40
}
.estadificacion
{
   @apply border-l-4 bg-white rounded-lg py-2
}
.estadificacion h3
{
   @apply font-bold text-lg mb-2
}



.back-button {
   @apply text-button-text bg-gradient-to-b from-white to-button-bg1 p-1 shadow-md shadow-black/40 rounded-lg border border-gray-400
}
.back-button div {
   @apply text-button-text pl-7 pr-5 py-1 bg-gradient-to-b from-button-bg1 to-white rounded-md
}
.back-button div i {
   @apply -ml-4 mr-2
}


ol {
   counter-reset: item;
}
ol li {
   @apply block my-3
}

ol>li {
   display: block;
   counter-increment: item;
}

ol>li:before {
   content: counters(item, ".") " ";
   font-weight: bold;
   margin-right: 0.5em;
}

ol ol>li {
   list-style: none;
   @apply block my-1
}