@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.delay-1 {
   animation-delay: 900ms
}

.delay-2 {
   animation-delay: 1100ms
}

.delay-3 {
   animation-delay: 1300ms
}

.delay-4 {
   animation-delay: 1500ms
}

.delay-5 {
   animation-delay: 1700ms
}


*::-webkit-scrollbar {
   @apply w-1.5 h-1.5;
}

*::-webkit-scrollbar-track {
   @apply bg-slate-300
}

*::-webkit-scrollbar-thumb {
   @apply bg-green-400;
}

html,
body {
   @apply bg-slate-800;
}

* {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
   @apply select-none antialiased font-albert !important;
}

.slide {
   @apply w-[1024px] h-[768px] flex flex-col gap-6 bg-white bg-fondo bg-cover bg-center pb-16 z-0;
}

header hgroup {
   @apply w-full flex justify-end items-start relative;
}
header hgroup span {
   @apply flex flex-wrap items-center gap-x-4 gap-y-2 w-[255px] absolute left-0 pt-4
}
header hgroup button {
   @apply h-fit
}
header hgroup .titulo {
   @apply w-fit flex flex-col items-center justify-center gap-2 px-16 bg-gradient-to-r from-red-600 to-amber-600 rounded-b-3xl self-end h-[87px] justify-self-end
}
header hgroup div h2 {
   @apply font-extrabold text-center text-white text-3xl
}

main {
   @apply flex-grow mx-16 flex flex-wrap justify-around content-around;
}

.home-btn {
   @apply bg-gradient-to-b from-white to-button-bg1 p-1 border border-gray-400 shadow-md shadow-black/30 rounded-full w-fit;
}
.home-btn div {
   @apply bg-gradient-to-b from-button-bg1 to-white;
}
.home-btn div {
   @apply flex flex-row items-center justify-center gap-1 w-9 h-9 p-1 rounded-full;
}
.home-btn div svg {
   @apply text-button-text;
}

.ref-btn {
   @apply bg-gradient-to-b from-white to-button-bg1 p-1 border border-gray-400 shadow-md shadow-black/30 rounded-full w-fit mx-1;
}
.ref-btn div {
   @apply bg-gradient-to-b from-button-bg1 to-white flex flex-row items-center justify-center gap-1 w-7 h-7 p-1 rounded-full;
}
.ref-btn div h4 {
   @apply text-button-text font-bold text-xs;
}

.btn-enlaces {
   @apply flex flex-row-reverse;
}
.btn-enlaces div {
   @apply h-[240px] w-[169px] border-l-4 overflow-hidden p-5
}
.btn-enlaces::after {
   content: ' ';
   @apply relative h-60 w-[1px] top-1 left-1 shadow-enlaces;
}

.btn-enlaces button {
   @apply h-[200px] w-[200px] shadow-md shadow-black/40 p-4 pl-[40px] rounded-full -ml-[56px] border-4;
}

.btn-enlaces button h5 {
   @apply font-bold leading-none text-lg drop-shadow-button-text-links
}

.bg-button1 {
   @apply text-button-text bg-gradient-to-b from-white to-button-bg1 p-1 border border-gray-400 shadow-md shadow-black/40 rounded-lg
}
.bg-button1 div {
   @apply text-button-text pl-7 pr-5 py-1 bg-gradient-to-b from-button-bg1 to-white rounded-md
}
.bg-button1 div i {
   @apply -ml-4 mr-2
}